.wrapper {
    margin-top: 200px;
    min-height: calc(80vh - 50px);
}

.aboutRpc {
    margin-bottom: 50px;
}

.aboutRchain {
    
}

.red {
    color: #a50b00;
  }

  .moreinfo {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 70px;
  }