.wrapper {
  min-height: calc(80vh - 50px);
}

.profileContainer {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parent {
  margin-bottom: 20px;
}

.profile {
  border-radius: 50%;
  background-color: rgb(167, 164, 164);
  margin-bottom: 20px;
}

.address {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 15px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 20px;
}

.balance {
  color: #00A36C;
  margin-bottom: 50px;
}
