@import "./colors.scss";

.customBtn {
    border-color: $main-accent-color;
    color: $main-accent-color;
    background-color: transparent;
  }
  
  .customBtn:hover {
    border-color: $main-accent-color;
    color: $white;
    background-color: $main-accent-color;
  }
  
  .customBtnColored {
    border-color: $main-accent-color;
    color: $main-accent-color;
    background-color: $white;
  }
  
  .customBtnColored:hover {
    border-color: $main-accent-color;
    color: $white;
    background-color: $main-accent-color;
  }
  
  .customBtnInverted {
    border-color: $main-accent-color;
    color: $white;
    background-color: $main-accent-color;
  }
  
  .customBtnInverted:hover {
    border-color: $dark-green;
    color: $white;
    background-color: $dark-green;
  }