.customCard {
  transition: transform 0.2s;
}

.customCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.container {
  display: flex;
  flex-direction: row;
}

.customBtn {
  border-color: #00A36C;
  color: #00A36C;
  background-color: transparent;
}

.customBtn:hover {
  border-color: #00A36C;
  color: white;
  background-color: #00A36C;
}

.customBtnInverted {
  border-color: #00A36C;
  color: white;
  background-color: #00A36C;
}

.customBtnInverted:hover {
  border-color: #00A36C;
  color: #00A36C;
  background-color: transparent;
}
