.footer {
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    flex-shrink: 0;
}

.credit {
    font-size: 0.7rem;
}

.red {
    color: #a50b00;
  }

.text {
    font-size: 1.1rem;
}