@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Raleway:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bolder;
  color: rgb(95, 94, 94);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
