.hero {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/9724071/pexels-photo-9724071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 70px;
}

.margin {
  margin-right: 20px;
}
/* custom colors */
.customBtn {
  border-color: #00A36C;
  color: #fff;
  background-color: transparent;
}

.customBtn:hover {
  border-color: #00A36C;
  color: #fff;
  background-color: #00A36C;
}

.customBtnColored {
  border-color: #00A36C;
  color: #00A36C;
  background-color: #fff;
}

.customBtnColored:hover {
  border-color: #00A36C;
  color: #fff;
  background-color: #00A36C;
}

.customBtnInverted {
  border-color: #00A36C;
  color: #fff;
  background-color: #00A36C;
}

.customBtnInverted:hover {
  border-color: #355E3B;
  color: #fff;
  background-color: #355E3B;
}

.tagline {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/355321/pexels-photo-355321.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.joinCommunity {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #121212;
  background: linear-gradient(to right, #d3f8d3, #00A36C);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 50px;
}

.moreinfo {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #121212;
  background: linear-gradient(to right, #d3f8d3, #00A36C);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 25px;
}

.section2 {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/11141868/pexels-photo-11141868.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.red {
  color: #00A36C;
}
