.navigation {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 999;
}

@media only screen and (min-width: 800px) {

    .navigation * {
        display: inline;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 800px) {
    .parent {
        position: absolute;
        right: 0;
    }
}

.list {
    margin: 20px;
}

.list a {
    text-decoration: none;
}

.red {
    color: #a50b00;
}