@media only screen and (min-width: 768px) {
  .formContainer {
    width: 30%;
  }
}

.form {
  margin-top: 50px;
}

.fileupload {
  color: #636fa4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  width: 100%;
  margin-top: 20px;
}

.customBtn {
  border-color: #636fa4;
  color: #636fa4;
  background-color: transparent;
}

.customBtn:hover {
  border-color: #636fa4;
  color: white;
  background-color: #636fa4;
}

.customBtnInverted {
  border-color: #636fa4;
  color: white;
  background-color: #636fa4;
}

.customBtnInverted:hover {
  border-color: #636fa4;
  color: #636fa4;
  background-color: transparent;
}
